<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Liste des Tickets</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <%- include('fragments/header') %>



  <%- include('fragments/footer') %>

</body>
</html>
